<%- include('../partials/header'); %>

<div class="container board-page">
  <% if (errMsg) { %>
    <p class="error-message red align-center"><%= errMsg %></p>
  <% } else { %>
    <h1 class="red"><%= board.name %></h1>
    <h5>Created by <span class="yellow"><%= username %></span></h5>

  <!-- TODO: edit / add function only available if user is authorized -->
  <% } %>
  
</div>

<%- include('../partials/footer'); %>