<%- include('../partials/header'); %>

<div class="container board-page">
  <% if (errMsg) { %>
    <p class="error-message red align-center"><%= errMsg %></p>
  <% } else { %>

    <div class="row">

      <div class="col filter-sidebar">
        Filters here
      </div>

      <div class="col-10 restaurants-list">
        <div class="title">
          <h1 class="red"><%= board.name %></h1>
          <h5>Created by <span class="yellow"><%= username %></span></h5>
          <p class="board-description align-center"><%= board.description %></p>
        </div>

        <% if (authUser === username) { %>
          <div class="buttons">
            <a href="/<%= username %>/boards/<%= board.slug %>/edit">
              <button type="button" class="btn btn-outline-secondary">
                Edit
              </button>
            </a>
            <a href="/<%= username %>/boards/<%= board.slug %>/delete">
              <button type="button" class="btn btn-outline-secondary">
                Delete
              </button>
            </a>
          </div>
        <% } %>

        <div>
          <%- include('../partials/restaurants/restaurants_list'); %>
        </div>
        
      </div>
    </div>
  <% } %>
</div>

<%- include('../partials/footer'); %>