<%- include('../partials/header'); %>

<div class="container user-dashboard">
  <div class="row user-profile">
    <div class="col-2 user-pic">
      <img src="<%= user.pic_url %>" />
    </div>
    <div class="col user-info">
      <h2 class="align-left"><%= user.username %></h2>
      <p>info here</p>
      <a href="">
        <button type="button" class="btn btn-outline-secondary">
          Edit Profile
        </button>
      </a>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row content">
    <!-- TODO: add suggestions for boards when users do not have anyboards -->
    <% if (boards.length === 0) { %>
      <div class="header">
        <p>Some board ideas to get you started: ...</p>
        <!-- TODO: to add quick create functions here for the suggested boards -->
        <a href="/<%= user.username %>/boards/create">
          <button type="button" class="btn btn-danger">Create a New Board</button>
        </a>
        
        <p>or browse <a href="/restaurants">restaurants</a> for inspirations</p>
      </div>
    <% } else { %>
      <div class="header">
        <h3 class="align-left red">Let's get <strike>cooking</strike> eating</h3>
        <!-- TODO: add routes for these board buttons -->
        <a href="/<%= user.username %>/boards">
          <button type="button" class="btn btn-outline-danger">View All Boards</button>
        </a>
        <a href="/<%= user.username %>/boards/create">
          <button type="button" class="btn btn-danger">Create a New Board</button>
        </a>
      </div>
  
      
      <div class="boards-list">
        <h1 class="align-left bold yellow">To Try</h1>
        <p>Gotta check these out one day</p>
        <div>
          <span class="placeholders">(20 restaurants)</span>
          <a href="/<%= user.username %>/boards/">See All</a>
        </div>
  
        <div class="restaurants-list">
  
        </div>
  
      </div>
    <% } %>

    
  </div>
</div>

<%- include('../partials/footer'); %>