<%- include('../partials/header'); %>
<div class="space"></div>
<div class="container register-page">
  <h1>Register an account</h1>

  <% if (errMsg) { %>
    <p class="error-message red align-center"><%= errMsg %></p>
  <% } %>
  
  <form method="POST" action="/register?redirect=<%= redirect %>">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="HungryForMcSpicy (min 3 characters)">
    </div>

    <div class="form-group">
      <label for="email_address">Email address</label>
      <input type="email" class="form-control" id="email_address" name="email_address" placeholder="name@example.com">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="minimum 7 characters">
    </div>

    <div class="form-group">
      <label for="confirm_password">Confirm your password</label>
      <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="enter your password again">
    </div>

    <button type="submit" class="btn btn-danger">Sign Up</button>
  </form>

  <p class="align-center">Already have an account? <a href="/login?redirect=<%= redirect %>">Log in</a> instead!</p>
</div>

<%- include('../partials/footer'); %>