<%- include('../partials/header'); %>
<%- include('../partials/modals/remove_from_board'); %>
<div class="space"></div>
<div class="container restaurant-page">
  <% if (!restaurant) { %>
    <p class="align-center emphasis">Oops... nothing is found here</p>
    <a href="/restaurants"><p class="align-center">View all Restaurants</p></a>
  <% } else { %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/restaurants">Restaurants</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= restaurant.name %></li>
      </ol>
    </nav>

    <div class="row restaurant-photos">
      <% restaurant.photos.forEach(url => { %>
        <img class="restaurant-photos" src="<%= url %>" alt="<%= restaurant.slug %> photo" />
      <% }) %>
    </div>

    <div class="row top-row">
      <div class="col-7 business-summary">
        <h1 class="align-left name red"><%= restaurant.name %></h1>

        <div class="stars-rating">
          <% const stars = Math.round(restaurant.rating * 2)/2 %>
          <% const imgUrl = `/img/rating-${stars}.png` %>
          <img class="stars-rating" src="/img/rating-<%= stars %>.png" />
        </div>

        <!-- TODO: add whether restaurant is open now -->

        <div class="categories">
          <% for (let i = 0; i < restaurant.categories.length && i < 5; i++) { %>
            <% const category = categories.filter(category => category._id.equals(restaurant.categories[i]))[0] %>
            <a href="/restaurants?categories=<%= category.name.replace('&', 'and') %>">
              <div class="category-tag pointer-on-hover background-purple">
                <%= category.name %>
              </div>
            </a>
          <% } %>
        </div>

        <% if (!authUser) { %>
          <div class="login-prompt">
            <p class="restricted emphasis">
              <a href="/login?redirect=<%= redirect %>">Log in</a> or <a href="/register?redirect=<%= redirect %>">Register</a> to start pinning, tagging, saving personal notes & writing reviews!
            </p>
          </div>
          
        <% } else { %>
          <div class="require-auth">
            <div class="pin-section">

              <div class="current-pins">
                <% if (restaurantBoards.length === 0) { %>
                  <p class="bold emphasis">Currently not pinned in any boards</p>
                <% } else { %>
                  <p class="bold emphasis">Pinned in:</p>
                  <p>
                    <% restaurantBoards.forEach((board, idx) => { %>
                      <span>
                        <a class="board red" href="/<%= authUser %>/boards/<%= board.slug %>"><%= board.name %></a>
                        <% if (idx < restaurantBoards.length -1) { %>
                          ,
                        <% } %>
                      </span>
                    <% }) %>
                  </p>

                  <button class="btn btn-outline-secondary edit-btn" type="button" data-bs-toggle="modal" data-bs-target="#remove-from-board-modal">
                    Edit
                  </button>
                <% } %>
              </div>
              
              <% if (boards.length === 0) { %>
                <a href="/<%= authUser %>/boards/create">
                  <button type="button" class="create-board btn btn-danger">Create a New Board</button> to pin this restaurant
                </a>
                
              <% } else { %>
                <form class="pin-form" method="POST" action="/restaurants/<%= restaurant.slug %>/<%= authUser %>/pin?_method=PUT&redirect=<%= redirect %>">
                  <p>Pin in another board:</p>
                  
                  <div class="boards-dropdown">
                    <select class="custom-select" id="board_id" name="board_id")">
                      <option value="" disabled selected>Choose a board to pin</option>
                      <% boards.forEach(board => { %>
                        <option value="<%= board._id %>" <%= board.restaurants.includes(restaurant._id) ? 'disabled' : '' %>>
                          <%= board.name %> <%= board.restaurants.includes(restaurant._id) ? '📌' : '' %>
                        </option>
                      <% }) %>
                        
                    </select>
                  </div>
                  <button class="btn btn-danger" type="submit">Pin 📌</button>
                          
                </form>
              <% } %>
              
            </div>
  
            <div class="private-tag-section">
              <!-- TODO: add logic to list privat tags that restaurant currently has -->
              <p class="bold emphasis">Your private tags:</p>
              <div class="private-tag pointer-on-hover background-yellow">
                Mom's fav
              </div>
              <div class="private-tag pointer-on-hover background-yellow">
                Big portion
              </div>
              <div class="private-tag pointer-on-hover background-yellow">
                Go before 6pm
              </div>
              <button class="btn btn-outline-secondary edit-btn" type="submit">Edit</button>
            </div>
  
            <div class="private-note-section">
              <div class="header">
                <p class="bold emphasis">Your private notes:</p>
              <button class="btn btn-outline-secondary edit-btn" type="submit">Edit</button>
              </div>
              
              <div class="notes">
                Favourite dishes: McSpicy, McNuggets <br/>
                Promotions: can use ShopBack <br/>
                Other: not so good for date night... <br/>
              </div>
            </div>
          </div>
        <% } %>
        

      </div>

      <div class="col business-info">
        <!-- TODO: add map -->
        <div class="details">
          <div>
            <p class="bold">Adress:</p>
            <!-- TODO: better UI for address -->
            <p><%= restaurant.display_location %></p>
          </div>

          <div>
            <p><span class=bold>Contact no:</span> <%= restaurant.display_phone %></p>
          </div>

          <div>
            <p class="bold">Opening Hours:</p>
            <% const days = ['Mon','Tues','Wed','Thurs','Fri','Sat','Sun'] %>
            
            <ul>
              <% days.forEach((day, idx) => { %>
                <% const timings = restaurant.opening_hours.filter(timing => timing.day === idx) %>
                <li>
                  <span class="bold"><%= day %>:</span>
                  <% if (timings.length === 0) { %>
                    Closed
                  <% } else { %>
                    <!-- TODO: better UI for hours -->
                    <% for (let i = 0, j = timings.length; i < j; i++) { %>
                      <% const timing = timings[i] %>
                      <% const start = timing.start %>
                      <% const end = timing.end %>
                      <%= start.slice(0,2) %>:<%= start.slice(2,4) %> to <%= end.slice(0,2) %>:<%= end.slice(2,4) %>
                      <% if (i < j - 1) { %>
                        ;
                      <% } %>
                    <% } %>
                  <% } %>
                  
                </li>
              <% }) %>
            </ul>
          </div>  
        </div>

      </div>
    </div>

    <div class="divider"></div>
    <% if (authUser) { %>
      <div class="row write-review">
        <div>
          <h5 class="align-left">Write a review</h5>
          <form method="POST" action="/restaurants/<%= restaurant.slug %>/reviews/<%= authUser %>/create">
            <div class="review-rating">
              <div>Your rating (out of 5):</div>
              <div class="rating-options">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="rating" id="rating-1" value="1">
                  <label class="form-check-label" for="rating-1">1</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="rating" id="rating-2" value="2">
                  <label class="form-check-label" for="rating-2">2</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="rating" id="rating-3" value="3">
                  <label class="form-check-label" for="rating-3">3</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="rating" id="rating-4" value="4">
                  <label class="form-check-label" for="rating-4">4</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="rating" id="rating-5" value="5">
                  <label class="form-check-label" for="rating-5">5</label>
                </div>
              </div>
            </div> 
            <input type="text" name="content" class="review-text">
            <button type="submit" class="btn btn-warning">Submit</button>
          </form>
        </div>
      </div>
    <% } %>
    

    <div class="row reviews-list">
      <div>
        <h5 class="align-left">Reviews</h5>
      </div>

      <% if (reviews.length === 0) { %>
        <p>No reviews yet</p>
      <% } else { %>
        <% reviews.forEach(review => { %>
          <div class="review">
            <div class="user-profile">
              <img src="<%= review.yelp_pic ? review.yelp_pic : '/img/user-pic.png' %>" />
            </div>
  
            <div class="content">
              <p><%= review.yelp_name %></p>
              <div class="stars-rating">
                <% const stars = Math.round(review.rating * 2)/2 %>
                <% const imgUrl = `/img/rating-${stars}.png` %>
                <img class="stars-rating" src="/img/rating-<%= stars %>.png" />
              </div>
              <p class="time-created"><%= review.time_created %></p>
              <p><%= review.content %></p>
            </div>
            
          </div>
        <% }) %>
      <% } %>
    </div>
  <% } %>
</div>

<%- include('../partials/footer'); %>